@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #eeeeee;
    overscroll-behavior: none;
    background-color: #171717;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button {
  background-color: #414141;
  color: #eeeeee;
  border: 1px solid #484848;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

button:hover {
  background-color: #484848;
  color: #ffffff;
}

button:active {
  background-color: #373737;
}
